.card-elements {
    color: #303030;
  }
  
  .card-elements * {
    font-family: Inter UI, Open Sans, Segoe UI, sans-serif;
    font-size: 16px;
    font-weight: 500;
  }
  
  .card-elements form {
    max-width: 496px !important;
    padding: 0 15px;
  }
  
  .card-elements form > * + * {
    margin-top: 20px;
  }
  
  .card-elements .container {
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    padding: 3px;
  }
  
  .card-elements fieldset {
    border-style: none;
    padding: 5px;
    margin-left: -5px;
    margin-right: -5px;
    border-radius: 8px;
  }
  
  .card-elements fieldset legend {
    width: 100%;
    text-align: center;
    font-size: 16px;
    color: #303030;
    margin-bottom: 0;
  }

  .card-elements .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 15px;
  }

  .card-elements .row + .row {
    // border-top: 1px solid #cacaca;
  }
  
  .card-elements .card-only {
    display: block;
  }
  .card-elements .payment-request-available {
    display: none;
  }
  
  .card-elements fieldset legend + * {
    clear: both;
  }
  
  .card-elements input, .card-elements button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border-style: none;
    color: #fff;
  }
  
  .card-elements input:-webkit-autofill {
    transition: background-color 100000000s;
    -webkit-animation: 1ms void-animation-out;
  }
  
  .card-elements input {
    -webkit-animation: 1ms void-animation-out;
    border: 1px solid #cacaca;
  }
  
  .card-elements input::-webkit-input-placeholder {
    color: #4444;
  }
  
  .card-elements input::-moz-placeholder {
    color: #4444;
  }
  
  .card-elements input:-ms-input-placeholder {
    color: #4444;
  }
  
  .card-elements button {
    display: block;
    width: 100%;
    height: 37px;
    background-color: #FE9A00;
    border-radius: 2px;
    color: black;
    cursor: pointer;
    margin-top: 5px;
    font-weight: bold;
  }
  
  .card-elements button:active {
    background-color: #FFB139;
  }
  
  .card-elements .error svg .base {
    fill: #8e8e8e;
  }
  
  .card-elements .error svg .glyph {
    fill: #f6f9fc;
  }
  
  .card-elements .error .message {
    color: #8e8e8e;
  }
  
  .card-elements .success .icon .border {
    stroke: #ffc7ee;
  }
  
  .card-elements .success .icon .checkmark {
    stroke: #d782d9;
  }
  
  .card-elements .success .title {
    color: black;
  }
  
  .card-elements .success .message {
    color: #8898aa;
  }
  
  .card-elements .success .reset path {
    fill: #d782d9;
  }

  .card-elements .error {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    margin: 10px 0;
    font-size: 13px !important;
    opacity: 0;
    transform: translateY(10px);
    transition-property: opacity, transform;
    transition-duration: 0.35s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  .error.visible {
    opacity: 1;
    transform: none;
  }

  .error .message {
    font-size: inherit;
  }

  .error svg {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-top: -1px;
    margin-right: 10px;
  }
  
  .card-elements input {
    width: 100%;
    padding: 8px;
    margin: 0;
    color: #303030;
    background-color: transparent;
    -webkit-animation: 1ms void-animation-out;
    border-radius: 3px;
  }
  
  .card-elements input::-webkit-input-placeholder {
    color: #4444;
  }
  
  .card-elements input::-moz-placeholder {
    color: #4444;
  }
  
  .card-elements input:-ms-input-placeholder {
    color: #4444;
  }

  .card-elements .row label {
    min-width: 55px;
    padding: 11px 0;
    color: #FFB139;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .information-title {
    font-weight: bold;
  }

  .card-element {
    padding: 8px;
    border: 1px solid #cacaca;
    border-radius: 3px;
    box-shadow: inset 0 1px 2px rgba(10,10,10,.1);
  }